container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_bootstrap:
    command: "python manage.py bootstrap"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "rehook.production_settings"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: rehook/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    /static/: www/static/
